.heat-map-cell {
    display: flex;
    border: 1px solid white;
    overflow: hidden;
    box-sizing: border-box;
}

.heat-map-cell-content {
    margin: auto;
}

.heatmap-year-heading {
    margin: 10px;
}

.heatmap-month-cell {
    box-sizing: border-box;

}
.month-cell-container {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 10px 0;
}